[submodule "MoonGen"]
	path = MoonGen
	url = https://github.com/emmericp/MoonGen.git
[submodule "vpp-benchplug"]
	path = vpp
	url = https://gitlab.pogobanane.de/pogobanane/vpp-benchplug.git
	ignore = all
